BOT_TOKEN=your_bot_token
BOT_USERNAME=Nexora_loginbot
ADMIN_ID=6057196483
FIREBASE_DATABASE_URL=https://nexorakabinetr-default-rtdb.europe-west1.firebasedatabase.app
SESSION_SECRET=change-this-secret-key
SITE_URL=https://nexoraads.online
PORT=3000
